
h1{
  color: brown;
}
.navbar{
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 15px 30px;
  font-size: 15px;
  font-weight: 500;
  color: rgba(70, 11, 11, 0.6);
  white-space: nowrap;
  transition: 0.3s;
}

.breadcrumbs {
  padding: 140px 0 60px 0;
  height: 20vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs:before {
  content: "";
  background-color: rgba(27, 47, 69, 0.7);
  position: absolute;
  inset: 0;
}

.breadcrumbs h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-secondary);
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}

.breadcrumbs ol a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

table{
  text-align: center;
  margin-top: 30px;
}

label{
  font-size: larger;
  font-weight: bolder;
  margin: 18px;
  color: rgb(52, 72, 145);
}

.error-box{
  border: 2px solid red;
}

.success-box{
  border: 2px solid green;
}

p{
  margin-left: 18px;
  font-style: italic;
  font-weight: bolder;
  color: orangered;
}